{% extends "layout.html.twig" %}
{% block content %}
	<h4>Hva er dette?</h4>
	<p>UKMapi-admin er stedet der du kan administrere ulike systemers tilgang til UKMs nettjenester. Fanen UKMid-nøkler lar deg legge til systemer som kan benytte seg av innloggingsløsningen UKMid, mens UKMapi-nøkler og Tillatelser begge handler om å la systemer hente ut data fra UKMs tjenester via APIer.</p>
	<h4>Hvilke UKM-tjenester tilbyr data?</h4>
	<p>Per dags dato er det kun arrangements-planleggeren RSVP som tilbyr noe data. Se <a href="http://github.com/UKMNorge/UKMrsvp/">http://github.com/UKMNorge/UKMrsvp/</a> for mer informasjon.</p>
{% endblock %}